body
{
    margin: 0;

    background: dodgerblue;
}

input[type='text']
{
    font-family: sans-serif;
    font-size: 18px;

    display: inline-block;

    width: 250px;
    margin-right: 10px;
    padding: 12px;

    transition: box-shadow .3s, border .3s;

    border: solid 1px #dcdcdc;
}

input[type='text']:focus
{
    border: solid 1px #707070;
    outline: none;
    box-shadow: 0 0 5px 1px #969696;
}

#searchbutton
{
    font-family: Arial;
    font-size: 21px;
    font-weight: bold;

    display: inline-block;

    padding: 10px 14px;

    cursor: pointer;
    text-decoration: none;

    color: #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #599bb3;
    -webkit-box-shadow: 0 10px 13px -7px #276873;
    -moz-box-shadow: 0 10px 13px -7px #276873;
    box-shadow: 0 10px 13px -7px #276873;
    text-shadow: 0 1px 0 #3d768a;
}

#searchbutton:hover
{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #408c99), color-stop(1, #599bb3));
    background:    -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:      -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:     -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:         linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3', GradientType=0);
}

.search
{
    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;

    background-color: blueviolet;
}

.searchItem
{
    position: relative;

    display: inline-block;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 32%;
    margin: 0 .5% 0 .5%;

    vertical-align: top;

    border: 2px solid black;

    -webkit-animation: fadein 1s;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.itemDuration
{
    line-height: .1;

    position: absolute;
    z-index: 2;
    top: 18vw;
    right: 2%;
    -webkit-user-select: none;
    color: #fff;
    background: #000;
}

p
{
    font-family: Verdana;
}

.itemTitle a,
.itemPublished p,
.itemDescription p,
.itemChannelTitle p
{
    margin-top: 0;
    -webkit-user-select: none;
    text-overflow: ellipsis;
}

.itemTitle a{
    font-family: Verdana;
    text-decoration:none;
    color:#ffffff;
    font-size:20px;
    margin: 0 auto;
}
.itemTitle a:hover{
    text-decoration:underline;
}
#itemPreview
{
    position: relative;
    z-index:-1;

    display: block;

    background: black;

}


#itemPreview img{
    -webkit-user-select: none;
}



.paginWrapper
{
    text-align: center;
}

.pagination
{
    display: inline-block;
}

.pagination div
{
    float: left;

    margin: 0 10px 0 10px;
    padding: 16px 18px;

    transition: background-color .3s;
    text-decoration: none;

    color: black;
}

.pagination div.active
{
    color: white;
    background-color: blueviolet;
}

.pagination #previousPage:hover,
.pagination #nextPage:hover
{
    background-color: blueviolet;
    cursor:pointer;
}
#previousPage,
#nextPage,
#currentPage{
    display:inline-block;
    font-size:2vw;
    -webkit-user-select: none;
}
#currentPage
{
    width: 2vw;
    height: 2vw;
}

@media screen and (max-device-width: 1200px)
{
    .searchItem
    {
        width: 49%;
    }
    .itemDuration
    {
        line-height: .1;

        position: absolute;
        top: 23vw;
        right: 2%;

        color: #fff;
        background: #000;
    }
}

@media screen and (max-device-width: 768px)
{
    .searchItem
    {
        width: 100%;
        margin: 0;
    }
    .itemDuration
    {
        line-height: .1;

        position: absolute;
        top: 58vw;
        right: 2%;

        color: #fff;
        background: #000;
    }
    #itemPreview:before
    {
        left: 45%;
    }
}

@media screen and (max-device-width: 376px)
{
    .search
    {
        padding-left: 5px;

        text-align: center;
    }
    input[type='text']
    {
        width: 160px;
    }
    #itemPreview:before
    {
        left: 40%;
    }
}
